resource_group_name  = "aw-tfstate-rg"
storage_account_name = "awtfstate0001"
container_name       = "tfstate"
key                  = "adventure-works/github/governance.tfstate"
use_azuread_auth     = true
