resource_group_name  = "aw-tfstate-rg"
storage_account_name = "awtfstatechange01"
container_name       = "tfstate"
key                  = "adventure-works/prod/platform.tfstate"
use_azuread_auth     = true
use_cli              = true
